{
  "PIPPINUSDT": {
    "binance_symbol": "PIPPINUSDT",
    "input_mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
    "output_mint": "Dfh5DzRgSvvCFDoYc2ciTkMrbDfRKybA4SoFbPmApump",
    "name": "PIPPIN",
    "description": "PIPPIN memecoin arbitrage"
  },
  "BTCUSDT": {
    "binance_symbol": "BTCUSDT",
    "input_mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
    "output_mint": "3NZ9JMVBmGAqocybic2c7LQCJScmgsAZ6vQqTDzcqmJh",
    "name": "Wrapped Bitcoin",
    "description": "BTC arbitrage via Solana wBTC"
  }
}
